@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap");

:root {
    --main-white-color: #f2f2f2;
    --main-black-color: black;
    --main-purple-color: #9e89b8;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    margin-left: 0;
    margin-right: 0;
}

.btn{
    border-radius: 15px;
    color: var(--main-purple-color);
    background-color: var(--main-white-color);
}

.btn:hover{
    color: var(--main-white-color);
    background-color: var(--main-purple-color);
    box-shadow: inset 0 0 0 1px var(--main-white-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font: 22px 'Tangerine', cursive;
    background: var(--main-white-color);
    height: 100vh;
}


/* MAIN
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: var(--main-white-color);
    color: var(--main-white-color);
}

.page-main div {
    max-width: 500px;
    padding: 10px;
}

.page-main .login-container {
    width: 260px;
    border-radius: 25px;
    background: var(--main-purple-color)
    url(/image/fine-food-login-background2.jpeg) no-repeat
    center / cover;
    background-blend-mode: luminosity;
}

.login-container .btn {
    font-size: 1em;
}

.invalid-feedback {
    font-size: 100%;
}

.form-control {
    font-size: 1.5rem;
    border-radius: 15px;
}

#logo {
    font-size: 70px;
    background-color: var(--main-purple-color);
    border: 3px solid var(--main-white-color);
    border-radius: 50%;
    color: var(--main-white-color);
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transform: translate(0%, -60%);
    margin-bottom: -70px;
}

.login-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo span {
    transform: translate(-15%, 0%);
}



