@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap");

:root {
    --main-white-color: #f2f2f2;
    --main-black-color: black;
    --main-purple-color: #9e89b8;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.form-control{
    font-size: 1.3rem;
}

button {
    cursor: pointer;
}

.btn{
    border-radius: 15px;
    color: var(--main-purple-color);
    background-color: var(--main-white-color);
}

.btn:hover{
    color: var(--main-white-color);
    background-color: var(--main-purple-color);
    box-shadow: inset 0 0 0 1px var(--main-white-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font: 22px 'Tangerine', cursive;
    background: var(--main-white-color);
}

h1{
    font-size: 2.2rem;
}

/* CONTAINER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper > * {
    padding: 20px;
}


/* HEADER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-header {
    background: var(--main-white-color);
}
.page-header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.page-header ul {
    display: flex;
    order: 1;
    width: 100%;
    margin-top: 15px;
}

.page-header ul li:not(:last-child) {
    padding-right: 15px;
}

.page-header .cta-contact {
    font-family: inherit;
    font-size: 2rem;
    padding: 5px 18px;
    border: 1px solid;
    border-radius: 5px;
}


/* MAIN
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    min-height: 350px;
    background: var(--main-purple-color)
    url(/image/fine-food-background.jpeg) no-repeat
    center / cover;
    background-blend-mode: luminosity;
    color: var(--main-black-color);
}

/*.page-main div {*/
/*    max-width: 500px;*/
/*}*/

.page-main h1 {
    margin-bottom: 20px;
}

.page-main p + p {
    margin-top: 10px;
}

/* MENU ITEMS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.menu, .shopping-item-context, .coupon-upload{
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
    color: var(--main-white-color);
}

.menu-list, .shopping-list{
    overflow-y: scroll;
}

/*Hide scrollbar for Chrome, Safari and Opera */
.menu-list::-webkit-scrollbar, .shopping-list::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.menu-list, .shopping-list {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.menu-list{
    flex-grow: 1;
}

.shopping-item-context{
    height: 70%
}

.shopping-list{
    height: 95%;
}

.menu .form-control{
    width: 75%;
}

.menu{
    padding-right: 2px;
    display: flex;
    flex-direction: column;
}

.coupon-upload{
    margin-top: 2px;
}

.menu-item-name, .menu-item-description{
    margin-left: 30px;
}

#coupon-code{
    margin-bottom: 10px;
}

.row{
    align-items: center;
}
/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
    display: flex;
    flex-direction: column-reverse;
    background: var(--main-white-color);
}

.page-footer ul {
    display: flex;
    font-size: 2rem;
    margin-bottom: 5px;
}

.page-footer ul li:not(:last-child) {
    margin-right: 20px;
}


/* Mediaquerries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Mobile
-------------------------------------------------- */
@media screen and (min-width: 550px) {
    .page-header ul {
        width: auto;
        margin-top: 0;
    }

    .page-header .cta-contact {
        order: 1;
    }

    .page-footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .page-footer ul {
        margin-bottom: 0;
    }

    body{
        font-size: 15px;
    }
}

/* Normal
-------------------------------------------------- */
@media screen and (min-width: 768px) {
    body {
        font-size: 26px;
    }

    .page-main {
        padding-left: 20px;
    }
}