<!doctype html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="components :: .basicHeaders"></th:block>
    <link rel="stylesheet" href="/css/basic.css"/>
</head>
<body>
<div class="wrapper">
    <header th:replace="components :: header"></header>
    <main class="page-main">
        <div>
            everybody about us
            <!--            TODO-->
            <!--            *create short description about the fictional restaurant-->
        </div>
    </main>
    <footer th:replace="components :: footer"></footer>


</div>
<th:block th:replace="components :: .basicScripts"></th:block>
</body>
</html>